<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.o0none0o.reminder" >

    <uses-permission android:name="android.permission.INJECT_EVENTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateEvent" />

        <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

        <uses-permision android:name="android.permission.WRITE_INTERNAL_STORAGE" />

        <activity android:name=".PersonalizeActivity" />
        <activity android:name=".DisplayActivity" />

        <receiver
            android:name=".AlarmReceiver"
            android:process=":remote" />
        <activity android:name=".AlertAlarm" />
        <activity
            android:name=".DisplayEvent"
            android:label="@string/title_activity_display_event" >
        </activity>
    </application>

</manifest>
